# Print Method for Equivalence Test Result

This function is a custom print method for objects of class
`equivalence_test_result`. It prints a formatted sentence describing the
results of the equivalence test.

## Usage

``` r
# S3 method for class 'fred_equivalence_test_result'
print(x, ...)
```

## Arguments

- x:

  An object of class `equivalence_test_result`.

- ...:

  Additional arguments (not used).
